.noteColorPicker-Wrapper {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  position: relative;
  margin-left: 1rem;
  /* background: red; */
  padding: 0.3rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 10px -3px rgba(0, 0, 0, 0.274);
}

.noteColorPicker {
  background: rgb(29, 28, 28);
  width: 7rem;
  border-radius: 20px;
  padding: 0.5rem;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.5rem;
  left: -1rem;
}
.noteColorPickerIcon {
  font-size: 1.1rem;
  cursor: pointer;
  /* color: var(--font-col-white); */
  color: var(--icon-col);
  /* margin-right: 2rem; */
}

.noteColorPicker-Wrapper:hover .noteColorPicker {
  display: flex !important;
}

.colorPickerPallete {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgb(219, 217, 217);
  border-radius: 50px;
  cursor: pointer;
  margin: 0.25rem;
}
