.notePin-Wrapper {
  align-self: flex-end;
  margin-right: 0.8rem;
  margin-top: 0.3rem;
}
.notePinIcon {
  font-size: 1.15rem;
  cursor: pointer;
  color: var(--icon-col);
}
.notesOptions-Container {
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 0.2rem;
  margin-top: 1rem;
}
.noteOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 3.5rem;
}
.noteSave-Wrapper {
  display: flex;
  justify-content: center;
}
.noteSave {
  border: none;
  background: transparent;
  color: var(--icon-col);
  font-size: 1rem;
  font-weight: 700;
  width: 4rem;
  height: 1.5rem;
  cursor: pointer;
}
